.datepicker
  .datepicker-days,
  .datepicker-months,
  .datepicker-years
    .prev,
    .next
      i
        font-style : normal
        &:before
          font-family: 'Ionicons'
    .prev
      i
        &:before
          content: '\f124'
    .next
      i
        &:before
          content: '\f125'
  th,
  td
    font-size: $u3

